<div class="common-form personal-contact locate-chapter-dues{{ternary (isEqualTo editContactInfo false) ' hidden' ''}}" id="personal-contact">
  <form action="/" id="personal-contact-form">
    <!--Personal contact information-->
    <div class="all-info separator clearfix">
      <ul class="clearfix">
        <label class="required-field">Required
          <span class="form-required">*</span>
        </label>
        <li>
          <label for="{{i18N 'en' 'prefix' 'id'}}">{{i18N 'en' 'prefix' 'label'}}
            <span class="form-required" title="This field is required.">*</span>
          </label>
          <select id="{{i18N 'en' 'prefix' 'id'}}" name="{{i18N 'en' 'prefix' 'id'}}" class="form-select required">
            <option value="">Select</option>
            {{#each genericData.generic.prefix as |prefix|}}
              {{#if prefix.prf_code}}
                {{#if (isEqualTo prefix.prf_code personalInfo.personal.prefix)}}
                  <option value="{{prefix.prf_code}}" selected>{{prefix.prf_code}}</option>
                {{else}}
                  <option value="{{prefix.prf_code}}">{{prefix.prf_code}}</option>
                {{/if}}
              {{/if}}
            {{/each}}
          </select>
        </li>
        <li>
          <label for="{{i18N 'en' 'firstname' 'id'}}">{{i18N 'en' 'firstname' 'label'}}
            <span class="form-required" title="This field is required.">*</span>
          </label>
          {{#if personalInfo.personal.firstname}}
            <input class="form-text required" type="text" id="{{i18N 'en' 'firstname' 'id'}}" name="{{i18N 'en' 'firstname' 'id'}}" value="{{personalInfo.personal.firstname}}" size="60" maxlength="255" disabled  />
          {{else}}
            <input class="form-text required" type="text" id="{{i18N 'en' 'firstname' 'id'}}" name="{{i18N 'en' 'firstname' 'id'}}" size="60" maxlength="255"  />
          {{/if}}
        </li>
        <li>
          <label for="{{i18N 'en' 'middlename' 'id'}}">{{i18N 'en' 'middlename' 'label'}}</label>
          {{#if personalInfo.personal.middlename}}
            <input class="form-text input-middle-name" type="text" id="{{i18N 'en' 'middlename' 'id'}}" name="{{i18N 'en' 'middlename' 'id'}}" value="{{personalInfo.personal.middlename}}" size="1" maxlength="1" disabled />
          {{else}}
            <input class="form-text input-middle-name" type="text" id="{{i18N 'en' 'middlename' 'id'}}" name="{{i18N 'en' 'middlename' 'id'}}" size="1" maxlength="1"  />
          {{/if}}
          
        </li>
        <li>
          <label for="{{i18N 'en' 'lastname' 'id'}}">{{i18N 'en' 'lastname' 'label'}}
            <span class="form-required" title="This field is required.">*</span>
          </label>
          <input class="form-text required text-capitalize" type="text" id="{{i18N 'en' 'lastname' 'id'}}" name="{{i18N 'en' 'lastname' 'id'}}" value="{{personalInfo.personal.lastname}}" size="60" maxlength="255" />
        </li>
        <li>
          <label for="{{i18N 'en' 'suffix' 'id'}}">{{i18N 'en' 'suffix' 'label'}}</label>
          <select id="{{i18N 'en' 'suffix' 'id'}}" name="{{i18N 'en' 'suffix' 'id'}}" class="form-select">
            <option value="">Select</option>
            {{#each genericData.generic.suffix as |suffix|}}
              {{#if suffix.sfx_code}}
                {{#if (isEqualTo suffix.sfx_code personalInfo.personal.suffix)}}
                  <option value="{{suffix.sfx_code}}" selected>{{suffix.sfx_code}}</option>
                {{else}}
                  <option value="{{suffix.sfx_code}}">{{suffix.sfx_code}}</option>
                {{/if}}
              {{/if}}
            {{/each}}
          </select>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <!--User best way Contact information-->
    <h3 class="sign-up-subheading">Your contact information</h3>
    <div class="all-info separator clearfix your-contact-info">
      <div class="form-type-radios">
        <label for="primary-number">Primary number
          <span class="form-required" title="This field is required.">*</span>
        </label>
        <ul class="form-radios clearfix">
          {{#each addressType as |type|}}
          <li class="form-type-radio text-capitalize">
            {{#if (isEqualTo type (i18N 'en' personalInfo.personal.phone.primary 'id'))}}
            <input type="radio" id="primary_number_{{i18N 'en' type 'id'}}" name="primary_number" value="{{i18N 'en' type 'value'}}" onchange={{action "updateContactInformation" value="target.value"}} class="form-radio" checked />
            {{else}}
              <input type="radio" id="primary_number_{{i18N 'en' type 'id'}}" name="primary_number" value="{{i18N 'en' type 'value'}}" onchange={{action 'updateContactInformation' value="target.value"}} class="form-radio" />
            {{/if}}
            <label class="option" for="primary_number_{{i18N 'en' type 'id'}}">{{i18N 'en' type 'label'}} </label>
          </li>
          {{/each}}
        </ul>
      </div>
      <ul class="field-options-select clearfix">
        {{#each addressType as |type|}}
          <li>
            <label for="contact_{{type}}_country">Country
            {{#if (isEqualTo type (i18N 'en' contactAddressType 'id'))}}
              <span class="form-required" title="This field is required.">*</span>
            {{/if}}
          </label>
            {{select-country idPrefix=(concat 'contact_' type) namePrefix=(concat 'contact_' type) selected=(jsStrings (get personalInfo.personal.phone (concat (i18N 'en' type 'key') '.country')) 'lower')}}
          </li>
          <li>
            <label for="{{type}}-number" class="text-capitalize">{{type}} phone
              {{#if (isEqualTo type (i18N 'en' contactAddressType 'id'))}}
              <span class="form-required" title="This field is required.">*</span>
              {{/if}}
            </label>
            <input class="form-text required" type="text" id="{{type}}_number" name="{{type}}_number" value="{{get personalInfo.personal.phone (concat (i18N 'en' type 'key') '.value')}}" size="60" maxlength="255" />
          </li>
          <li class="clearfix"></li>
        {{/each}}
      </ul>
    </div>
    <div class="clearfix"></div>
    <!-- Choose chapter information -->
    {{#if (isEqualTo type 'join')}}
      <h3 class="sign-up-subheading">Choose your chapter
        <span class="form-r equired">*</span>
      </h3>
    {{else}}
      <h3 class="sign-up-subheading">Your primary address</h3>
    {{/if}}
    <div class="all-info">
      {{#if (isEqualTo type 'join')}}
        <span>We calculate chapter dues based on your location. Select your location below.</span>
      {{/if}}
      <!--Choose chapter-->
      <ul class="form-radios clearfix">
        {{#each chaptersType as |type|}}
          <li class="form-type-radio text-capitalize">
            {{#if (isEqualTo type (i18N 'en' personalInfo.personal.address.primary 'value'))}}
            <input type="radio" id="choose_chapter_{{i18N 'en' type 'id'}}" name="choose_chapter" value="{{i18N 'en' type 'id'}}" class="choose_chapter_radio form-radio" onchange={{action "chapterSelection" value="target.value"}} checked />
            {{else}}
              <input type="radio" id="choose_chapter_{{i18N 'en' type 'id'}}" name="choose_chapter" value="{{i18N 'en' type 'id'}}" class="choose_chapter_radio form-radio" onchange={{action "chapterSelection" value="target.value"}} />
            {{/if}}
            <label class="option" for="choose_chapter_{{i18N 'en' type 'id'}}">{{i18N 'en' type 'id'}}</label>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="address-block-container">
      <!-- Home Address -->
      {{#if primaryHomeAddress}}
        <div class="homeAddress-container address-container">
          <div id="home-address" class="back-grey block">
            {{#if (isEqualTo type 'join')}}
              <h3>Home address</h3>
            {{else}}
              <h3>Your home address</h3>
            {{/if}}
            <fieldset id="#">
              <label class="required-field">Required
                <span class="form-required">*</span>
              </label>
              <ul>
                {{#if (isEqualTo type 'join')}}
                  <li>
                    <input type="checkbox" id="home-address-primary" name="home_address" value="1"
                    checked="checked" class="form-checkbox" />
                    <label class="option" for="home-address-primary">This is my primary mailing address.</label>
                  </li>
                {{/if}}
                <li>
                  <label for="primary_home_address_country">Country
                    <span class="form-required" title="This field is required.">*</span>
                  </label>
                  {{select-country idPrefix='primary_home_address' namePrefix='primary_home_address' selected=(jsStrings (get personalInfo.personal.address 'home.country.key') 'lower') class="counrty required" actionHooks='setHomeStateStatus' setHomeStateStatus='setHomeStateStatus'}}
                </li>
                <li>
                  <label for="primary_home_address1">Address line 1
                    <span class="form-required" title="This field is required.">*</span>
                  </label>
                  <input class="form-text few-special-char required" type="text" id="primary_home_address1" name="primary_home_address1" value="{{personalInfo.personal.address.home.line1}}" size="30" maxlength="255"/>
                </li>
                <li>
                  <label for="primary_home_address2">Address line 2</label>
                  <input class="form-text few-special-char" type="text" id="primary_home_address2" name="primary_home_address2" value="{{personalInfo.personal.address.home.line2}}" size="30" maxlength="255"/>
                </li>
                <li>
                  <label for="primary_home_city">City
                    <span class="form-required" title="This field is required.">*</span>
                  </label>
                  <input class="form-text few-special-char required" type="text" id="primary_home_city" name="primary_home_city" value="{{personalInfo.personal.address.home.city}}" size="30" maxlength="255"/>
                </li>
                {{#if homeShowState}} 
                  <li class="state" id="state">
                    <label for="administrative_area_state">State
                      <span class="form-required" title="This field is required.">*</span>
                    </label>
                    {{select-state idPrefix='administrative_area' namePrefix='administrative_area' selected=(jsStrings (get personalInfo.personal.address 'home.state.key') 'lower') class="state required" states=homeStates}}
                  </li>
                {{/if}}
                
                <!-- Zip code validation for United States -->
               {{#if homeShowState}} 
                 <li class="inline-bl">
                  <label for="primary_home_zipcode">Zip code
                    <span class="form-required" title="This field is required.">*</span>
                  </label>
                  <input class="postal-code form-text required zipcodeUS" type="text" id="primary_home_zipcode" name="primary_home_zipcode" value="{{personalInfo.personal.address.home.zip}}" size="30" minlength="5" maxlength="10"/>
                  {{#if (isEqualTo type 'join')}}
                    <div class="calc-button">
                      <span class="button-to-link">
                        <input type="submit" id="#" name="op" value="Calculate Dues" class="form-submit"/>
                      </span>
                    </div>
                  {{/if}}
                </li>
                {{else}}
                 <!-- No validation for zipcode for other countries -->
                 <li class="inline-bl">
                  <label for="primary_home_zipcode">Zip code</label>
                  <input class="postal-code form-text required" type="text" id="primary_home_zipcode" name="primary_home_zipcode" value="{{personalInfo.personal.address.home.zip}}" size="30"  maxlength="10" />
                  {{#if (isEqualTo type 'join')}}
                    <div class="calc-button">
                      <span class="button-to-link">
                        <input type="submit" id="#" name="op" value="Calculate Dues" class="form-submit"
                        />
                      </span>
                    </div>
                  {{/if}}
                </li>
                {{/if}}
               <!--  zip code validation end here -->
              </ul>
            </fieldset>
          </div>
          <div class="clear"></div>
          {{#if (isEqualTo type 'join')}}
          <div class="common-form">
            <div class="due-add-my-work-address">
              <input type="checkbox" id="add-my-work-address" name="add_my_work_address"
              value="1" class="form-checkbox" data-value="work" />
              <label class="option" for="add-my-work-address">Add my work address</label>
            </div>
          </div>
          {{/if}}
        </div>
      {{/if}}
      {{#if primaryWorkAddress}}
        <div class="workAddress-container address-container">
          <div id="work-address" class="back-grey block">
            {{#if (isEqualTo type 'join')}}
            <h3>Work address</h3>
            {{else}}
            <h3>Your work address</h3>
            {{/if}}
            <fieldset id="home-address" class="form-wrapper required">
              <label class="required required-field">Required
                <span class="form-required">*</span>
              </label>
              <ul class="work-address" id="work-address">
                {{#if (isEqualTo type 'join')}}
                  <li>
                    <input type="checkbox" id="work-address-primary" name="" value="1" class="form-checkbox" />
                    <label class="option" for="work-address-primary">This is my primary mailing address.</label>
                  </li>
                {{/if}}
                <li>
                  {{#if (isEqualTo type 'join')}}
                    <label for="company-search">Enter your work address, we&#039;ll help you find your company/organization</label>
                  {{else}}
                    <label for="company-search">If you need to change your work address, we&#039;ll help you find your company/organization.</label>
                  {{/if}}
                  <input type="text" id="company-search" name="company_search" value="" size="60" maxlength="60" class="form-text form-autocomplete" placeholder="Enter your work address" />
                </li>
              </ul>
                <div class="auto-address clearfix">
                  <span class="info-left">
                    <div id="company-lookup-address-block">
                        {{#if personalInfo.personal.address.office}}
                          {{#if personalInfo.personal.address.office.line1}}
                            {{personalInfo.personal.address.office.line1}}<br />
                          {{/if}}
                          {{#if personalInfo.personal.address.office.line2}}
                            {{personalInfo.personal.address.office.line2}}<br />
                          {{/if}}
                          {{#if personalInfo.personal.address.office.line3}}
                            {{personalInfo.personal.address.office.line3}}<br />
                          {{/if}}
                          {{personalInfo.personal.address.office.city}}, {{personalInfo.personal.address.office.state.value}}, {{personalInfo.personal.address.office.country.value}} {{personalInfo.personal.address.office.zip}}
                        {{/if}}
                    </div>
                  </span>
                  <span class="info-link">Can’t find your work address?
                    <a class="create-org" href="javascript:void(0)" {{action 'createNewOrganization'}}>Create a new organization</a>
                  </span>
                </div>
            </fieldset>
          </div>
          <div class="clear"></div>
          {{#if (isEqualTo type 'join')}}
            <div class="common-form">
              <div class="due-add-my-home-address">
                <input type="checkbox" id="add-my-home-address" name="add_my_home_address"
                value="1" class="form-checkbox" data-value="home" />
                <label class="option" for="add-my-home-address">Add my home address</label>
              </div>
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </form>
  {{#if createOrganization}}
    <div class="address-block-container">
      <form action="#" id="addNewOrganization" method="post">      	
        <div id="company-organization" class="back-grey block">
          <h3>Create a new company/organization</h3>
          <fieldset id="#" class="form-wrapper required">
            <label class="required required-field">Required
              <span class="form-required">*</span>
            </label>
            <ul>
              <li>
                <label for="organization_name">Company/organization name
                  <span class="form-required" title="This field is required.">*</span>
                </label>
                <input class="text-full form-text required" type="text" id="organization_name" name="organization_name"
                value="" size="60" maxlength="255" />
              </li>
              <li>
                <label for="org_website">Website</label>
                <input class="text-full form-text" type="text" id="org_website" name="org_website" value="" size="60" maxlength="255" />
              </li>
              <li>
                <label for="label">Company type
                  <span class="form-required" title="This field is required.">*</span>
                </label>
                {{#ember-chosen id='company_type' name="company_type" class='form-select required'}}
                  <option value="">Select</option>
                  {{#each companyType as |type|}}
                    <option value="{{type}}">{{type}}</option>                
                  {{/each}}
                {{/ember-chosen}}
              </li>
              <li>
                 <label for="contact_{{type}}_country">Country</label>
                {{select-country idPrefix='create_org' namePrefix='create_org' selected=(jsStrings "bc4b70f8-280e-4bb0-b935-9f728c50e183" 'lower') class="counrty required" actionHooks='setWorkStateStatus' setWorkStateStatus='setWorkStateStatus' value="target.value"}}
              </li>
              <li>
                <label for="org_company_address1">Address line 1
                  <span class="form-required" title="This field is required.">*</span>
                </label>
                <input class="thoroughfare few-special-char form-text required" autocomplete="address-line1"
                type="text" id="org_company_address1" name="org_company_address1" value="" size="30" maxlength="255" />
              </li>
              <li>
                <label for="org_company_address2">Address line 2</label>
                <input class="premise few-special-char form-text" autocomplete="address-line2"
                type="text" id="org_company_address2" name="org_company_address2" value="" size="30" maxlength="255" />
              </li>
              <li>
                <label for="org_locality">City
                  <span class="form-required" title="This field is required.">*</span>
                </label>
                <input class="locality few-special-char form-text required" autocomplete="&quot;address-level2"
                type="text" id="org_locality" name="org_locality" value="" size="30" maxlength="255"
                />
              </li>
              {{#if workShowState}}
                <li class="state" id="state-create">
                  <label for="work_administrative_state">State
                    <span class="form-required" title="This field is required.">*</span>
                  </label>
                   {{select-state idPrefix='work_administrative' namePrefix='work_administrative' selected="" class="state required" states=workstates}}
                </li>
              {{/if}}
              
              <li class="state creative-zip">
                <label for="postal-code">Zip code</label>
                <input class="postal-code form-text" autocomplete="postal-code"
                type="text" id="#" name="postal_code" value="" size="30" minlengh="5" maxlength="10"/>
              </li>
              
             <!--  This code commented for need to check for Validation for United States -->
              <!-- {{#if workShowState}} 
                <li class="state creative-zip">
                  <label for="postal-code">Zip code
                  <span class="form-required" title="This field is required.">*</span></label>
                  <input class="postal-code form-text zipcodeUS" autocomplete="postal-code"
                  type="text" id="postal_code" name="postal_code" value="" size="30" maxlength="255"/>
                </li>
                {{else}}
                <li class="state creative-zip">
                  <label for="postal-code">Zip code</label>
                  <input class="postal-code form-text " autocomplete="postal-code"
                  type="text" id="postal_code" name="postal_code" value="" size="30" maxlength="255"/>
                </li>
              {{/if}} -->
              
              <li class="clear"></li>
              <li class="state" id="state">
                <label for="create_org_code_code">Country code</label>
                {{select-country idPrefix='create_org_code_' namePrefix='create_org_code_' selected=(jsStrings "bc4b70f8-280e-4bb0-b935-9f728c50e183" 'lower')}}
              </li>
              <li class="state creative-zip">
                <label for="org_company_phone">Company phone</label>
                <input class="text-full form-text" type="text" id="org_company_phone"
                name="org_company_phone" value="" size="60" maxlength="255" />
              </li>  
              <li class="clear"></li>
            </ul>
            <div class="create-org-action">
              <span class="link-to-button">
                <a href="#" {{action 'addNewOrganization'}} class="save-company-info">Save</a>
              </span>
           </div>
          </fieldset>
        </div>
      </form>
    </div>
  {{/if}}
</div>

<div class="clearfix"></div>

<div class="actions-btn primary-action-btn">
  <div class="edit-next">
    <div class="link-to-button">
      <a href="#" {{action 'validatePersonalInfo'}}>Continue</a>
    </div>
  </div>
  <div class="edit-prev" id="go-back">
    <span class="button-to-link">
      {{#if editContactInfo}}
        <a href="#" {{action 'showPersonalInfo'}}>&lt; Go back to previous page</a>
      {{else}}
        {{#link-to 'renew-verify-membership'}} &lt; Go back to previous page {{/link-to}}
      {{/if}}
    </span>
  </div>
</div>

<div class="clearfix"></div>