{{#ember-chosen name=(concat namePrefix '_country') id=(concat idPrefix '_country') class=(concat class ' form-select select-chosen') selectionDidChange=actionHooks}}
  <option value="">Select</option>
  {{#each countries as |country|}}
    {{#if (isEqualTo country selected)}}
      <option value="{{country}}" selected>{{country}}</option>
    {{else}}
      <option value="{{country}}">{{country}}</option>
    {{/if}}
  {{/each}}
{{/ember-chosen}}