{{#ember-chosen id=(concat idPrefix '_state') name="{{namePrefix}}_state" class=(concat class ' form-select select-chosen')}}
  <option value="">Select</option>
  {{#each states as |state|}}
    {{#if (isEqualTo state.id selected)}}
      <option value="{{state.id}}" selected>{{state.name}}</option>
    {{else}}
      <option value="{{state.id}}">{{state.name}}</option>
    {{/if}}
  {{/each}}
{{/ember-chosen}}