<div class="member-details">
  <h2>Your info</h2>
  <div class="member-align">
    <p>Member ID</p>
    <p>{{membership.memberid}}</p>
  </div>
  <div class="member-align">
    <p>Membership year</p>
    <p>{{membership.membershipyear}}</p>
  </div>
  <div class="member-align">
    <p>Membership type</p>
    <p>{{membership.membershiptype}}</p>
  </div>
  <div class="member-align">
    <p>Payment due date</p>
    <p>01/15/{{membership.membershipyear}}</p>
  </div>
  <div class="member-align">
    <p>Invoice number</p>
    <p>{{invoice.invoicenumber}}</p>
  </div>
</div>
 
<div class="clearfix"></div>