{{renew-steps steps=model.steps}}

<div class="row"> 
	<div class="col-sm-9">
	  <h1 class="page-title">Your membership invoice</h1>
	  
    <div class="clearfix"></div>
    
    <div id="error-container" class="alert alert-danger"></div>
    
	  <div class="membership-dues-container">
      {{#if isRenewSummary}}
        <div class="common-form membership-dues-pages" id="contact-info-form">
          <div class="renew-suppdue">
            <h3 class="sign-up-subheading">{{duesData.data.membership.membershipyear}} dues</h3>
            <p>Summary of dues</p>
            <table class="duestable">
              <tbody>
              {{#each-in duesData.data.invoice.dues as |key dues|}}
                <tr>
                  <td>{{dues.chapter}}</td>
                  <td id="{{key}}dues" class="value">${{format-currency dues.due}}</td>
                </tr>
               {{/each-in}}
               <tr>
                <td class="membership-dues-total">
                  {{duesData.data.membership.membershipyear}} individual dues total
                </td>
                <td id="indivdualdues" class="value">$ {{totalDues}}</td>
              </tr>
              <tr>
                <td>Supplemental dues</td>
                <td id="suppdues" class="value">$ {{format-currency supplementalDuesTotal}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      {{/if}}
      <div class="clearfix"></div>
      {{#if isQuestionnarie}}
        <div class="renew-questionnaire  membership-dues-pages">
          <h3>Supplemental dues</h3>
          <div>
            Some chapters assess supplemental dues for membership. Please select the option that best applies to you.
          </div>
          
          <div id="questionnaire-wrapper">
          
            <div id="edit-questionnaire" class="form-radios">
            
              <div class="form-item form-type-radio form-item-questionnaire">
              
                <input type="radio" id="edit-questionnaire-1" name="questionnaire" value="1"
                class="form-radio" aria-required="true">
                
                <label class="option" for="edit-questionnaire-1">
                  I am not a sole practitioner, and I do not own or manage an architecture firm.
                </label>
                
              </div>
              
              <div class="form-item form-type-radio form-item-questionnaire">
              
                <input type="radio" id="edit-questionnaire-2" name="questionnaire" value="2"
                class="form-radio">
                
                <label class="option" for="edit-questionnaire-2">
                  I own or manage an architecture firm and designate another AIA member to pay the supplemental dues my firm owes.
                </label>
                
                <div class="questionnaire-userform owner-detail hidden common-form">
                  
                  <form action="#" id="questionnaireUserform" method="post">
                  	
                    <span>AIA member responsible for dues</span><span class="form-required" title="This field is required.">*</span>
                    
                    <div class="clearfix"></div>
                    
                    <div class="form-item form-type-textfield form-item-membername">
                      <label for="questionnaire_membername">Member name
                        <span class="form-required" title="This field is required.">*</span>
                      </label>
                      
                      <input id="questionnaire_membername" type="text" name="questionnaire_membername" value="" size="60" maxlength="128" class="form-text required" aria-required="true">
                      
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    <div class="form-item form-type-textfield form-item-memberid">
                      <label for="questionnaire_memberid">Member ID number
                        <span class="form-required" title="This field is required.">*</span>
                      </label>
                      
                      <input id="questionnaire_memberid" type="text" name="questionnaire_memberid" value="" size="60" maxlength="128" class="form-text required" aria-required="true">
                    </div>
                  
                  </form>
                  
                </div>
                
              </div>
              
              <div class="form-item form-type-radio form-item-questionnaire">
              
                <input type="radio" id="edit-questionnaire-3" name="questionnaire" value="3" class="form-radio">
                
                <label class="option" for="edit-questionnaire-3">
                  I own or manage an architectural firm.
                </label>
                
              </div>
              
              <div class="form-item form-type-radio form-item-questionnaire">
                <input type="radio" id="edit-questionnaire-4" name="questionnaire" value="4" class="form-radio">
                
                <label class="option" for="edit-questionnaire-4">
                  I am a sole practitioner.
                </label>
                
              </div>
              
            </div>
            
          </div>
          
          <div class="clearfix"></div>
          
        </div>
      {{/if}}
      
      {{#if isTotalRenew}}
        
        <form action="#" id="form-totalRenew" method="post">
        	
          <div class="total-no-renew-suppdue renew-container membership-dues-pages common-form">
          
            <h3 class="sign-up-subheading">{{duesData.data.membership.membershipyear}} dues</h3>
            
            <div class="clearfix"></div>
            
            <p>Summary of dues</p>
            
            <table class="duestable">
              <tbody>
                {{#each-in duesData.data.invoice.dues as |key dues|}}
                  <tr>
                    <td>{{dues.chapter}}</td>
                    <td id="{{key}}dues" class="value">${{format-currency dues.due}}</td>
                  </tr>
                {{/each-in}}
                <tr>
                  <td class="membership-dues-total">
                    {{duesData.data.membership.membershipyear}} individual dues total
                  </td>
                  <td id="indivdualdues" class="value">$ {{totalDues}}</td>
                </tr>
                {{#if supplementalDuesTotal}}
                  <tr>
                    <td>Supplemental dues</td>
                    <td id="suppdues" class="value">$ {{format-currency supplementalDuesTotal}}</td>
                  </tr>                
                  <tr class="sum">
                    <td>Total due</td>
                    <td id="totaldue" class="value"><div id="the_grand_total">$ {{format-currency supplementalTotalDues}}</div></td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
            
            <div class="form-item form-type-checkbox form-item-licensed-architect common-form">
            
              <input type="checkbox" id="edit-licensed-architect" name="licensed_architect"
              value="1" class="form-checkbox required">
              <label class="option" for="edit-licensed-architect">
                I attest that I am currently licensed to practice architecture in the U.S.          
              </label>
                
            </div>
            
            <div class="clearfix"></div>
            
          </div>
        
        </form>
        
      {{/if}}
      
      {{#if isDuesCalculator}}
      
        <div class="common-form renew-calculator membership-dues-pages renew-container">
        
          <h3>Supplemental dues calculator</h3>
        
          <p>
            Enter the total number of staff members for each category, including yourself.<span class="form-required">*</span>
            <br>You should have at least one person in the U.S. Architect membership level.
          </p>
          
          <form action="#" id="dues-calculator" method="post">
          
            <div id="accordion">
            	
              {{#each supplementalList as |supplemental|}}
                <h3>
                 <div class="titlelabel">{{supplemental.text}} {{#if supplemental.isRequired}}
                  <span class="form-required">*</span>
                  <br/>
                  <span class="architect-sublabel">(include yourself)</span>{{/if}}
                  </div>
                  <div class="inputpersons">
                    <div class="form-item form-type-textfield form-item-text-fields">
                      <label for="{{supplemental.text}}_persons">#persons:</label>
                      {{#if supplemental.isRequired}}
                        <input min="0" id="{{supplemental.id}}_persons" type="text" name="{{supplemental.id}}_persons" size="2" maxlength="3" class="form-text numbers-only required" data-state-amount="{{get duesData.data.invoice.supplementaldues.state supplemental.id}}" data-local-amount="{{get duesData.data.invoice.supplementaldues.local supplemental.id}}" onkeyup={{action 'calculateSum'}} title="You must enter at least one staff in the ‘AIA member architect’ category." />
                      {{else}}
                        <input min="0" id="{{supplemental.id}}_persons" type="text" name="{{supplemental.id}}_persons" size="2" maxlength="3" class="form-text numbers-only" data-state-amount="{{get duesData.data.invoice.supplementaldues.state supplemental.id}}" data-local-amount="{{get duesData.data.invoice.supplementaldues.local supplemental.id}}" onkeyup={{action 'calculateSum'}} />
                      {{/if}}
                    </div>
                    <div class="totals padding-total-top">
                      
                      Total:
                      <div class="totalnum" data-total="0">$ 0.00</div>
                      
                    </div>
                    
                  </div>
                  
                </h3>
                 
                <div>
                  State:
                  <span class="membership-value">$ {{format-currency (get duesData.data.invoice.supplementaldues.state supplemental.id)}}</span>
                  
                  <span class="mobile-break"></span>
                  Local:
                  <span class="membership-value" id="membership-value">$ {{format-currency (get duesData.data.invoice.supplementaldues.local supplemental.id)}}</span>
                  
                  <div class="totals">
                    Total:
                    <div class="totalnum" data-total="0">$ 0.00</div>
                  </div>
                </div>
              {{/each}}
            
            </div>
            
          </form>
          
          <div class="totaldues">
            Supplemental dues total
            <div id="suppdues_totalamount">$ {{format-currency supplementalDuesTotal}}</div>
            <div class="clearfix"></div>
          </div>
          
        </div>
        
      {{/if}}
      
      <div class="button-container membership-button-container hidden-xs">
        {{#if isRenewSummary}}
          <div class="renew-btn-container r-btn-container">
            <input type="button" value="Continue" class="next membershipdues_next" onclick={{action 'questionnaireMembershipduesNext'}} />
            <div class="read-only-block-previous-link">
              {{#link-to 'primary-information' class="previous-link"}} &lt; Go back to previous page {{/link-to}}
            </div>
          </div>
        {{/if}}
        
        {{#if (ifCond isQuestionnarie isDuesCalculator "||")}}
          <div class="questionnare-btn-container r-btn-container">
            <input type="button" value="Continue" class="next membershipdues_next" onclick={{action 'membershipduesNext'}}>
            <div id="goback-link-questionnare-section">
              <a href="#" class="previous-link membership-dues-prev" onclick={{action 'membershipduesPrev' preventDefault=true}}>&lt; Go back to previous page</a>
            </div>
          </div>
        {{/if}}
        
        {{#if isTotalRenew}}
        <div class="pay-now-container r-btn-container">
          <div class="link-to-button">
            <a href="#" class="next form-submit" {{action "payNow"}}>Pay now</a>
          </div>
          <div class="clearfix"></div>
          <div id="startoverbtn">
            <a href="#" class="previous-link membership-dues-prev" onclick={{action 'membershipduesPrev' preventDefault=true}}>&lt; Go back to previous page</a>
          </div>
        </div>
        {{/if}}
      </div>
      
	  </div>
    
	</div>
	
	<aside id="sidebar" class="col-sm-3" role="complementary">
	  
    {{widget-your-info membership=duesData.data.membership invoice=duesData.data.invoice}}
	  
    {{widget-tax-info chapters=duesData.data.chapter}}
    
    {{widget-need-help}}
	  
    {{widget-disclosures}}
	  
	</aside>
  
	<div class="button-container footer-btn-container membership-button-container visible-xs">
	  {{#if isRenewSummary}}
      <div class="renew-btn-container r-btn-container">
        <input type="button" value="Continue" class="next membershipdues_next" onclick={{action 'questionnaireMembershipduesNext'}} />
        <div class="read-only-block-previous-link">
          {{#link-to 'primary-information' class="previous-link"}} &lt; Go back to previous page {{/link-to}}
        </div>
      </div>
    {{/if}}
    
    {{#if (ifCond isQuestionnarie isDuesCalculator "||")}}
      <div class="questionnare-btn-container r-btn-container">
        <input type="button" value="Continue" class="next membershipdues_next" onclick={{action 'membershipduesNext'}}>
        <div id="goback-link-questionnare-section">
          <a href="#" class="previous-link membership-dues-prev" onclick={{action 'membershipduesPrev' preventDefault=true}}>&lt; Go back to previous page</a>
        </div>
      </div>
    {{/if}}
    
    {{#if isTotalRenew}}
    <div class="pay-now-container r-btn-container">
      <div class="link-to-button">
        <a href="#" class="next form-submit" {{action "payNow"}}>Pay now</a>
      </div>
      <div class="clearfix"></div>
      <div id="startoverbtn">
        <a href="#" class="previous-link membership-dues-prev" onclick={{action 'membershipduesPrev' preventDefault=true}}>&lt; Go back to previous page</a>
      </div>
    </div>
    {{/if}}
	</div>
</div>
<div class="clearfix"></div>
