{{title "Payment information | AIA"}}
{{renew-steps steps=model.steps}}

<div class="payment-loader">
  <p>We are processing your payment. Please do not click the back or refresh button.</p>
</div>

<div class="row">
  <div class="col-sm-9">
    {{#if paymentFailed}}
      <div id="paymentError" class="alert alert-danger">{{paymentFailed}}</div>
    {{/if}}
    <h1 class="page-title">Payment information</h1>
    <div id="userprofileinfo">
      <ul class="no-style">
      
        <!-- Check if user primary address is Home -->
        {{#if 
          (isEqualTo 
            primaryData.data.personal.address.primary 
            "home"
          )
        }}
          <li>
            {{primaryData.data.personal.prefix}}
            {{primaryData.data.personal.firstname}}
            {{primaryData.data.personal.middlename}}
            {{primaryData.data.personal.lastname}}
          </li>
          <!-- Display Address Line1, Line2 & line3 -->
          
          <li>{{primaryData.data.personal.address.home.line1}}</li> 
          <li>{{primaryData.data.personal.address.home.line2}}</li> 
          <li>{{primaryData.data.personal.address.home.line3}}</li>
          <li>
                       
            <!-- Display State only if country is "United States" or "Canada" -->
            {{#if 
              (ifCond 
                (isEqualTo 
                  (jsStrings 
                    primaryData.data.personal.address.home.country.key 
                    "upper"
                  ) 
                  "BC4B70F8-280E-4BB0-B935-9F728C50E183"
                ) 
                (isEqualTo 
                  (jsStrings 
                    primaryData.data.personal.address.home.country.key 
                    "upper"
                  ) 
                  "BE685760-5492-4BA3-B105-868E2010FA34"
                ) 
                "||"
              )
            }}
              <!-- Display user city information if exists -->
              {{#if primaryData.data.personal.address.home.city}}
                {{primaryData.data.personal.address.home.city}}{{#if primaryData.data.personal.address.home.state.value}},{{/if}}
              {{/if}} 
              <!-- Display State if exists -->
              {{#if primaryData.data.personal.address.home.state.value}}
                {{primaryData.data.personal.address.home.state.value}}
              {{/if}}
            {{else}}
              <!-- Display user city information if exists -->
              {{#if primaryData.data.personal.address.home.city}}
                {{primaryData.data.personal.address.home.city}}
              {{/if}} 
            {{/if}}
            <!-- Display zipcode -->
            {{primaryData.data.personal.address.home.zip}}<br />
            <!-- Display country -->
            {{primaryData.data.personal.address.home.country.value}}
            
          </li>
        {{else}}        
          <!-- Check if user has Linked Address / Created new organization -->
          {{#if 
            (ifCond 
              primaryData.data.personal.organization.isLinkedAccount 
              primaryData.data.personal.organizationInfo.isNewOrganization 
              '||'
            )
          }}
            <!-- Check if user has linked new organization -->
            {{#if primaryData.data.personal.organization.isLinkedAccount}}
              <!-- Check if user has linked organization address exists -->
              {{#if primaryData.data.personal.organization.linkedAddress}}
                <li>
                  {{primaryData.data.personal.prefix}}
                  {{primaryData.data.personal.firstname}}
                  {{primaryData.data.personal.middlename}}
                  {{primaryData.data.personal.lastname}}
                </li>
                <!-- Display Organization Name (If Exists) -->
                {{#if primaryData.data.personal.organization.name}}
                  {{primaryData.data.personal.organization.name}}<br />
                {{/if}}
                <!-- Address Line1 -->
                {{#if primaryData.data.personal.organization.linkedAddress.line1}}
                  {{primaryData.data.personal.organization.linkedAddress.line1}}<br />
                {{/if}}
                <!-- Address Line2 -->
                {{#if primaryData.data.personal.organization.linkedAddress.line2}}
                  {{primaryData.data.personal.organization.linkedAddress.line2}}<br />
                {{/if}}                
                <!-- State displayed only if country is united states / canada -->
                {{#if 
                  (ifCond 
                    (isEqualTo 
                      (jsStrings 
                        primaryData.data.personal.organization.linkedAddress.country "upper"
                      ) 
                        "UNITED STATES"
                      ) 
                    (isEqualTo 
                      (jsStrings 
                        primaryData.data.personal.organization.linkedAddress.country "upper"
                      ) 
                        "CANADA"
                    ) 
                    "||"
                  )
                }}
                  <!-- Display State for United States / Canada -->
                  {{#if primaryData.data.personal.organization.linkedAddress.state}}
                    <!-- City -->
                    {{#if primaryData.data.personal.organization.linkedAddress.city}}
                      {{primaryData.data.personal.organization.linkedAddress.city}},
                    {{/if}}
                    {{primaryData.data.personal.organization.linkedAddress.state}}
                  {{else}}
                    <!-- City -->
                    {{#if primaryData.data.personal.organization.linkedAddress.city}}
                      {{primaryData.data.personal.organization.linkedAddress.city}}
                    {{/if}}
                  {{/if}}
                  <!-- Display Zipcode for United States / Canada -->
                  {{primaryData.data.personal.organization.linkedAddress.zip}}<br/>  
                  <!-- Display Country for United States / Canada -->
                  {{primaryData.data.personal.organization.linkedAddress.country}}
                {{else}}
                  {{#if primaryData.data.personal.organization.linkedAddress.city}}
                    {{primaryData.data.personal.organization.linkedAddress.city}}
                  {{/if}}
                  <!-- Display Zipcode except United States / Canada -->
                  {{primaryData.data.personal.organization.linkedAddress.zip}}<br />
                  <!-- Display Country except United States / Canada -->
                  {{primaryData.data.personal.organization.linkedAddress.country}}
                {{/if}}
              {{/if}}
            <!-- Check if user created new organization -->
            {{else}}
              <li>
                {{primaryData.data.personal.prefix}}
                {{primaryData.data.personal.firstname}}
                {{primaryData.data.personal.middlename}}
                {{primaryData.data.personal.lastname}}
              </li>
              <!-- Display organization name If Exists -->
              {{#if primaryData.data.personal.organization.name}}
                  {{primaryData.data.personal.organization.name}}<br />
              {{/if}}
              <!-- Display Address line1 If Exists -->
              {{#if primaryData.data.personal.organizationInfo.addressLine1}}
                {{primaryData.data.personal.organizationInfo.addressLine1}}<br />
              {{/if}}
              <!-- Display Address line2 If Exists -->
              {{#if primaryData.data.personal.organizationInfo.addressLine2}}
                {{primaryData.data.personal.organizationInfo.addressLine2}}<br />
              {{/if}}
              <!-- Display State, Zipcode & Country for United States & Canada -->
              {{#if 
                (ifCond 
                  (isEqualTo 
                    (jsStrings 
                      primaryData.data.personal.organizationInfo.country.key 
                      "upper"
                    ) 
                    "BC4B70F8-280E-4BB0-B935-9F728C50E183"
                  ) 
                  (isEqualTo 
                    (jsStrings 
                      primaryData.data.personal.organizationInfo.country.key 
                      "upper"
                    ) 
                    "BE685760-5492-4BA3-B105-868E2010FA34"
                  ) 
                  "||"
                )
              }}
                <!-- Display State If Exists -->
                {{#if primaryData.data.personal.organizationInfo.workState.value}}
                  <!-- Display City If Exists -->
                  {{#if primaryData.data.personal.organizationInfo.locality}}
                    {{primaryData.data.personal.organizationInfo.locality}},
                  {{/if}}
                  {{primaryData.data.personal.organizationInfo.workState.value}}
                {{else}}
                  {{#if primaryData.data.personal.organizationInfo.locality}}
                    {{primaryData.data.personal.organizationInfo.locality}}
                  {{/if}}
                {{/if}}
                <!-- Display Zipcode -->
                {{primaryData.data.personal.organizationInfo.PostalCode}}<br/>
                <!-- Display Country -->
                {{primaryData.data.personal.organizationInfo.country.value}}
              {{else}}
                {{#if primaryData.data.personal.organizationInfo.locality}}
                  {{primaryData.data.personal.organizationInfo.locality}}
                {{/if}}
                {{primaryData.data.personal.organizationInfo.PostalCode}}<br />
                {{primaryData.data.personal.organizationInfo.country.value}}
              {{/if}}            
            {{/if}}
          <!-- End of Displaying Linked Address or Create New Organization -->
          {{else}}
            <!-- Check if user has default work address -->
            {{#if (isEqualTo primaryData.data.personal.address.primary "office")}}
              <li>
                {{primaryData.data.personal.prefix}}
                {{primaryData.data.personal.firstname}}
                {{primaryData.data.personal.middlename}}
                {{primaryData.data.personal.lastname}}
              </li>
              <li>{{primaryData.data.personal.organization.name}}</li>
              <li>{{primaryData.data.personal.address.office.line1}}</li>
              <li>{{primaryData.data.personal.address.office.line2}}</li>
              <li>{{primaryData.data.personal.address.office.line3}}</li>
              <!-- Check if City Exists -->
              {{#if primaryData.data.personal.address.office.city}}
                {{primaryData.data.personal.address.office.city}}{{#if primaryData.data.personal.address.office.state.value}},{{/if}}
              {{/if}}
              <!-- Check if user selected country is United States or canada -->
              {{#if 
                (ifCond 
                  (isEqualTo 
                    (jsStrings 
                      primaryData.data.personal.address.office.country.key "upper"
                    ) 
                    "BC4B70F8-280E-4BB0-B935-9F728C50E183"
                  )
                  (isEqualTo 
                    (jsStrings 
                      primaryData.data.personal.address.office.country.key 
                      "upper"
                    )
                    "BE685760-5492-4BA3-B105-868E2010FA34"
                  ) 
                  "||"
                )
              }}
                <!-- Check if State Value Exists -->
                {{#if primaryData.data.personal.address.office.state.value}}
                  {{primaryData.data.personal.address.office.state.value}}
                {{/if}}
                {{primaryData.data.personal.address.office.zip}}<br />
                {{primaryData.data.personal.address.office.country.value}}
              {{else}}
                {{primaryData.data.personal.address.office.country.value}}
                {{primaryData.data.personal.address.office.zip}}
              {{/if}}
              
            {{/if}}
          {{/if}}
        {{/if}}
      </ul>
    </div>
    
    <div class="payment_information">
      <div id="ordersummaryinfo">
        <h3>Invoice summary</h3>
        <div id="payment-accordion">
           <h3>
            AIA membership dues:
            <!--<span class="membership">
              <span class="membership-type">
                <span class="membership-total">${{format-currency subTotal}}</span></span>
              </span>-->
          </h3>
          <div class="newaiamembership">
            <div class="result">
              <table>
                <tbody>
                  {{#if primaryData.data.invoice.dues.national}}
                    <tr>
                      <td>{{primaryData.data.invoice.dues.national.chapter}}</td>
                      <td><span class="right-space">$ {{format-currency primaryData.data.invoice.dues.national.due}}</span></td>
                    </tr>
                  {{/if}}
                  {{#if primaryData.data.invoice.dues.state}}
                    <tr>
                      <td>{{primaryData.data.invoice.dues.state.chapter}}</td>
                      <td><span class="right-space">$ {{format-currency primaryData.data.invoice.dues.state.due}}</span></td>
                    </tr>
                  {{/if}}
                  {{#if primaryData.data.invoice.dues.local}}
                  <tr>
                    <td>{{primaryData.data.invoice.dues.local.chapter}}</td>
                    <td><span class="right-space">$ {{format-currency primaryData.data.invoice.dues.local.due}}</span></td>
                  </tr>
                  {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {{#if primaryData.data.membership.membershipyear}}
        <div class="spl_dues_bottom">
          <div class="sup-title total_label">{{primaryData.data.membership.membershipyear}} Individual dues subtotal</div>
          <div class="sup-due-total paymentdue"><span class="right-space">$ {{format-currency subTotal}}</span></div> 
        </div>
        {{/if}}
        {{#if primaryData.data.supplementalDuesTotal}}
        <div class="spl_dues_bottom">
          <div class="sup-title total_label">Supplemental dues</div>
          <div class="sup-due-total paymentdue"><span class="right-space">$ {{format-currency primaryData.data.supplementalDuesTotal}}</span></div> 
        </div>
         {{/if}}
         
         
        <div class="spl_dues_bottom total-dues-box">	
          <div class="sup-title total_label"><strong>Total membership dues</strong></div>
          <div class="sup-due-total paymentdue"><span class="right-space"><strong>
            {{#if primaryData.data.supplementalDuesTotal}}
              $ {{format-currency supplyTotal}}
            {{else}}
              $ {{format-currency subTotal}}
            {{/if}}
          </strong></span></div> 
        </div>
        
         <div class="spl_dues_bottom archipac-box">
          {{archipac-donation primaryData=primaryData}}
         </div>       
        <div class="spl_dues_bottom total-dues-box" id="accordion_bottom">
          <div class="total_label"><strong>Total amount due</strong></div>
          {{#if primaryData.data.supplementalDuesTotal}}
          <div id="paymentdue" class="paymentdue"><span class="right-space"><strong>$ {{format-currency supplyTotalWithArchipac}}</strong></span></div>
          {{else}}
          <div id="paymentdue" class="paymentdue"><span class="right-space"><strong>$ {{format-currency subTotalWithArchipac}}</strong></span></div>
          {{/if}}
        </div>
		
      </div>
    </div>
    
    <div class="payment_method">
      <h3>How do you want to pay?<span class="required" aria-required="true">*</span></h3>

      <ul class="no-style">
      	<li>
          {{radio-button class="form-radio" id="pay-debit-credit" name="payment_type" value="Debit/Credit Card" groupValue=primaryData.data.paymentInfo.paymentType changed="updatePaymentType"}}
          
          <label for="pay-debit-credit">Debit or credit card </label>
          <div class="creditcardType">
            <div class="amexicon creditcardicon"></div>
            <div class="visaicon creditcardicon"></div>
            <div class="mastercardicon creditcardicon"></div>
            <div class="discovericon creditcardicon"></div>
          </div>
          <div class="clearfix"></div>
        </li>
      	<li>
          {{radio-button class="form-radio" id="pay-electronic-check" name="payment_type" value="Electronic check" groupValue=primaryData.data.paymentInfo.paymentType changed="updatePaymentType" disabled=primaryData.data.paymentInfo.isArchiPAC}}
          <label for="pay-electronic-check" class="electronic-check {{if primaryData.data.paymentInfo.isArchiPAC 'text-muted'}}">
            Electronic check
            {{#if primaryData.data.paymentInfo.isArchiPAC}}
               - ArchiPAC donation may only be paid with a credit/debit card. Please select an alternative payment method.
            {{/if}}
          </label>
        </li>
        {{#if maxInstallmentsProperty}}
          <li>
            {{radio-button class="form-radio" id="pay-in-installments" name="payment_type" value="EMI" groupValue=primaryData.data.paymentInfo.paymentType changed="updatePaymentType"}}
            <label for="pay-in-installments">Pay in installments</label>
          </li>
        {{/if}}
      </ul>
      {{#if maxInstallmentsProperty}}
        {{#if installmentsPayment}}
          <div id="installments" class="common-form">
            <div id="installmentsform">
            {{#if maxInstallmentsProperty}}
              <div id="installmentnumber">
                Pay my dues in
                {{#x-select name="select-installments" id="select-installments" class="select-installments form-select" action="install" value=(mut (get primaryData.data.paymentInfo "InstallmentCount"))}}
                  {{#each (for 3 maxInstallmentsProperty 1) as |installment|}}
                    {{#x-option value=installment}}{{installment}}{{/x-option}}                  
                  {{/each}}
                {{/x-select}}
                <label for="select-installments">installments</label>
              </div>
              {{/if}}
              <div id="firstinstallment">Total for first 
              <span>
                {{#if primaryData.data.paymentInfo.isArchiPAC}}
                  payment: $ {{format-currency (mathOp installment 25 '+')}} (Your credit/debit card will be debited with the first dues installment amount of $ {{format-currency  installment}} plus the ArchiPAC donation of $25.)
                {{else}}
                  installment: $ {{format-currency installment}}
                {{/if}}
              </span>
              <span id="paymentplan_info_but">
                <a class="extrainfo_icon" onclick={{action "showPaymentPlan"}}></a>
              </span></div>
              
              <div class="clearfix"></div>
              <div class="servicefee_info">
                A $40 service fee will be charged. You will be charged today and the last business day of each month. You must use a credit card for installment payments. Only membership dues can be paid in installments.
              </div>
              <div class="clearfix"></div>
              <div id="servicefee">
                <form action="#" id="install-agreement" method="post">
                  {{input type="checkbox" classBinding=":form-checkbox :installment_iagree" id="installment_iagree" name="installment_iagree" checked=(mut (get primaryData.data.paymentInfo "InstallmentAgreement"))}}
                  <label for="installment_iagree" class="installment-agreement">I agree to pay all installments until membership is paid in full <span class="form-required">*</span></label>
                </form>
              </div>
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div>
    
    <div class="payments-container common-form">
      {{#if (ifCond debitPayment installmentsPayment '||')}}
        <div class="card-payment">
          <h3>Enter your credit or debit card information<span class="required">*</span></h3>
          <form action="#" id="form-card-payment" method="post">
            <ul class="no-style">
              <li>
                <label for="cardName">
                  Name on card 
                  <span class="form-required">*</span>
                </label>
                {{input type="text" classBinding=":form-text :text-full :few-special-char" id="cardName" name="cardName" value=primaryData.data.paymentInfo.NameOnCard size="60" maxlength="255"}}
              </li>
              <li>
                <label for="cardNumber">
                  Card number 
                  <span class="form-required">*</span>
                </label>
                {{input type="text" classBinding=":form-text :text-full" id="cardNumber" name="cardNumber" value=primaryData.data.paymentInfo.CardNumber size="60" maxlength="19"}}                
              </li>
              <li>
                <label for="cardExpirationMonth">
                  Expiration date 
                  <span class="form-required">*</span>
                </label>
                <div class="cardExpiration clearfix">
                  <div class="cardExpirations">
                    {{#x-select name="cardExpirationMonth" id="cardExpirationMonth" class="form-select" value=(mut (get primaryData.data.paymentInfo "ExpirationMonth")) action="installmentsValidator"}}
                      {{#x-option value=""}}Month{{/x-option}}
                      {{#x-option value="1"}}Jan{{/x-option}}
                      {{#x-option value="2"}}Feb{{/x-option}}
                      {{#x-option value="3"}}Mar{{/x-option}}
                      {{#x-option value="4"}}Apr{{/x-option}}
                      {{#x-option value="5"}}May{{/x-option}}
                      {{#x-option value="6"}}Jun{{/x-option}}
                      {{#x-option value="7"}}Jul{{/x-option}}
                      {{#x-option value="8"}}Aug{{/x-option}}
                      {{#x-option value="9"}}Sep{{/x-option}}
                      {{#x-option value="10"}}Oct{{/x-option}}
                      {{#x-option value="11"}}Nov{{/x-option}}
                      {{#x-option value="12"}}Dec{{/x-option}}
                    {{/x-select}}
                  </div>
                  <div class="cardExpirations">
                    {{#x-select name="cardExpirationYear" id="cardExpirationYear" class="form-select" value=(mut (get primaryData.data.paymentInfo "ExpirationYear")) action="installmentsValidator"}}
                      {{#x-option value=""}}Year{{/x-option}}
                      {{#each (for currentYear maxYearList 1) as | year |}}
                        {{#x-option value=year}}{{year}}{{/x-option}}                  
                      {{/each}}
                    {{/x-select}}
                  </div>
                </div>
                <div id="group-expiration-error"></div>
              </li>
              <li>
                <div class="pull-left secure-code">
                  <label for="cardSecurityCode">
                    Security code 
                    <span class="form-required">*</span>
                  </label>
                  {{input type="text" classBinding=":form-text :text-full" id="cardSecurityCode" name="cardSecurityCode" value=primaryData.data.paymentInfo.SecurityCode size="60" maxlength="4"}}
                </div>
                <div class="gatewayimg"></div>
                <div class="clearfix clear600"></div>
                <div class="securitycodeimg"></div>
                <div class="clearfix"></div>
              </li>
              <li class="terms">
                {{input type="checkbox" classBinding=":form-checkbox :iagree_terms" id="iagree_terms" name="iagree_terms" checked=(mut (get primaryData.data.paymentInfo "TermsConditionsAgreement"))}}
                <label for="iagree_terms" class="agreement">
                  I agree to the <a href="http://tiny.cc/y7fy4x" target="_blank">terms &amp; conditions</a>, <a href="http://tiny.cc/6pxi2x" target="_blank">ethics statement</a> and the<a href="http://tiny.cc/dtxi2x" target="_blank"> privacy policy</a> of aia.org. <span class="form-required">*</span>
                </label>
              </li>
               <!--<li>
                 {{archipac-donation primaryData=primaryData}}
              </li>-->
              <li>
                <input type="button" value="Submit payment" class="form-submit" {{action 'callValidations'}}>
              </li>
            </ul>
          </form>
        </div>
      {{/if}}
      {{#if echeckPayment}}
        <div class="electronic-check">
          {{#unless primaryData.data.paymentInfo.isArchiPAC}}
            <h3>Enter your ACH information<span class="required" aria-required="true">*</span></h3>
            <form action="#" id="form-electronic-check" method="post">
              <div class="pull-left echeckMode">
                <ul class="no-style">
                  <li>
                    {{radio-button class="form-radio" id="ecChecking" name="echeckMode" value="C" groupValue=primaryData.data.paymentInfo.eCheckMode}}
                    <label for="ecChecking">Checking</label>
                  </li>
                  <li>
                    {{radio-button class="form-radio" id="ecSavings" name="echeckMode" value="S" groupValue=primaryData.data.paymentInfo.eCheckMode}}
                    <label for="ecSavings">Savings</label>
                  </li>
                </ul>
              </div>
              <div class="gatewayimg"></div>
              <div class="clearfix clear600"></div>
              <div class="electronicCheckImg"></div>
              <div class="clearfix"></div>
              <ul class="no-style">
                <li>
                  <label for="accountName">
                    Name on account 
                    <span class="form-required">*</span>
                  </label>
                  {{input type="text" classBinding=":form-text :text-full :few-special-char" id="accountName" name="accountName" value=primaryData.data.paymentInfo.AccountName size="60" maxlength="255"}}
                </li>
                
                <li>
                  <label for="bankroutingNumber">
                    Bank routing number 
                    <span class="form-required">*</span>
                  </label>
                  {{input type="text" classBinding=":form-text :text-full" id="bankroutingNumber" name="bankroutingNumber" value=primaryData.data.paymentInfo.RoutingNumber size="60" minlength="7"}}
                </li>
                <li>
                  <label for="accountNumber">
                    Account number 
                    <span class="form-required">*</span>
                  </label>
                  {{input type="text" classBinding=":form-text :text-full" id="accountNumber" name="accountNumber" value=primaryData.data.paymentInfo.AccountNumber size="60" maxlength="255"}}
                </li>
                <li class="terms">
                  {{input type="checkbox" classBinding=":form-checkbox :check_iagree_terms" id="check_iagree_terms" name="check_iagree_terms" checked=(mut (get primaryData.data.paymentInfo "TermsConditionsAgreement"))}}
                  <label for="check_iagree_terms" class="ele-agreement">
                    I agree to the <a href="http://tiny.cc/y7fy4x" target="_blank">terms &amp; conditions</a>, <a href="http://tiny.cc/6pxi2x" target="_blank">ethics statement</a> and the<a href="http://tiny.cc/dtxi2x" target="_blank"> privacy policy</a> of aia.org. <span class="form-required">*</span>
                  </label>
                </li>
                <li>
                  <input type="button" value="Submit payment" class="form-submit" {{action 'validatePaymentElectronicInfo'}}>
                </li>
              </ul>
            </form>
          {{/unless}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
<div id="paymentplan_modal"></div>
<div id="paymentplan_extrainfo">
  <div class="extrainfo_box">
    <div class="leftblock">
      <span class="plan_heading">Payment Plan</span>
      <table id="payment_plan_info_table" border="1">
        <tbody>
          <tr>
            <th scope="row">Member dues</th>
            {{#if primaryData.data.supplementalDuesTotal}}
            <td class="price">$ {{format-currency supplyTotal}}</td>
            {{else}}
            <td class="price">$ {{format-currency subTotal}}</td>
            {{/if}}
          </tr>		  
          <tr> 
            <th scope="row">Administrative fees</th>
            <td class="price">$ 40.00</td>
          </tr>		  
          <tr>
            <th scope="row">Total</th>
            <td class="price">$ {{format-currency total}}</td>
          </tr>
          <tr>
            <th scope="row">Number of payments</th>
            <td><div id="num_installments_selected">{{installNumber}}</div></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="rightblock"> Dues Installments        			
      <div id="payment_tbl">
        <table id="installment_payment_sum_list">
          <tbody>
            {{#each (for 1 installNumber 1) as |key|}}
              <tr class="installments_tbl_tr">
                <td class="install_num">{{key}} </td>
                <td class="install_payment">
                  {{#if (ifCond key 1 "==")}}
                    {{#if primaryData.data.paymentInfo.isArchiPAC}}
                      $ {{format-currency installment}}
					   {{#if primaryData.data.paymentInfo.isArchiPAC}}
					     <!--<span class="required" aria-required="true">*</span>-->
					    {{/if}}
                    {{else}}
                      $ {{format-currency installment}}
                    {{/if}}
                  {{else}}
                    $ {{format-currency installment}}
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>  
	<div class="clearfix"></div>
   {{#if primaryData.data.paymentInfo.isArchiPAC}}
     <div id="firstinstallment" class="arc-amt-installment text-center">Today's payment: $ {{format-currency (mathOp installment 25 '+')}}<span class="required" aria-required="true">*</span></div>
     <span class="arc-don-amt"><span class="required" aria-required="true">*</span>ArchiPAC donation of $25 will be included in the first payment and cannot be paid in installments.</span>
   {{/if}}
</div>

<!-- Disclamer Start-->

<div class="renew-disclaimer">
  <div class="renew-container">
    <div class="disclaimer-txt">
      <div class="col-xs-12">
        <strong>ArchiPAC Disclaimer</strong>
        <div>
          Contributions to ArchiPAC are not tax deductible. Contributions are voluntary and will be used for political purposes; you may refuse to contribute without reprisal. Contribution guidelines are only suggestions, you may contribute more or less than the suggested amounts and you will not be favored or disadvantaged based on the amount of your contribution or your decision not to contribute. All contributions must be from U.S. citizens or lawful permanent residents (e.g., green card holders), from personal funds, and may not be made by anyone who is a federal government contractor. Corporate contributions are prohibited by federal law. Federal law requires political committees to use their best efforts to collect and report the name, address, employer and occupation of individuals whose contributions exceed $200 in a calendar year.
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
